.list {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 2rem;
}

.influencer {
  border-radius: 4px;
  border: 2px solid grey;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.name {
  margin: 0px;
  font-weight: 32px;
}

.name > a,
.name > a:visited {
  font-weight: bold;
  font-weight: 300;
  color: white;
  font-style: italic;
}

.handle {
  margin-top: 0;
  font-size: 14px;
}

.description {
  margin-top: 0;
  font-size: 15px;
}

.tag {
  margin-right: 10px;
  background-color: #eb4471;
  color: white;
  padding: 3px 5px;
  border-radius: 3px;
}
